<h1>Sign in</h1>

<%= form_tag session_path do %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          username <%= text_field_tag :username, params[:username], class: 'form-control' %>
          password <%= password_field_tag :password, params[:passwords], class: 'form-control' %>
        </div>
      </div>
    </div>
    <%= submit_tag "Log in", class: 'btn btn-success' %>
<% end %>